/**
 * Custom class
 */


section {
    overflow-y: auto  !important;
    overflow-x: hidden !important;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

	p {
		text-align: left;
	}
}

.custom-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
